#demo-switch{
	margin: 0px 0px 10px 0px;
	padding: 0px;
}
#gotop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 300px;    
    padding: 10px 15px;    
    font-size: 20px;
    background: orange;
    color: white;
    cursor: pointer;
    border-radius:10px;
}
.scheDataOdd {  
	background-color: #f5f5f5;
	margin:30px 15px;
	border-radius:10px;
	}
.scheDataEven {  
	margin:30px 15px;
	border-radius:10px;
	}
.fee-row{
	border-bottom: 1px solid #1a1a1a ; 
	margin:0px 5px;
	margin-bottom: 10px;
}
#demo-switch li{
	display: inline-block;
	border: #aaa 1px solid;
	color: #aaa;
	letter-spacing: 1px;
	cursor: pointer;
	padding: 3px 8px;
	margin:10px 0px 0px 0px;
	font-size: 14px;
	background-color: #ffffff;
}

#demo-switch li.active{
	border: #1a1a1a 1px solid;
	background-color: #1a1a1a;
	color: #ffffff;
}

.demo-intro{
	margin-bottom: 30px;
	border: #1a1a1a 1px solid;
	background-color: #ffffff;
	padding: 10px 15px;
}

.demo-intro div{
	display: none;
}

.good, .bad{
	border-bottom: #ddd 1px dashed;
}

.good{
	color: #00acc1;
}
.bad{
	color:#e65100;
}
.sessionData {  
	margin:0px 15px
	}
.good .fa, .bad .fa{
	margin-right: 5px;
}

.demo-table,#detail-table,.css-table{
	width: 99.9%;
	background-color: #ffffff;
	border-collapse: collapse;
	margin-bottom: 20px;
}

#demo-table1{
	width: 70%;
	background-color: #ffffff;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.demo-table td, .demo-table th,
#demo-table1 td, #demo-table1 th,
#detail-table td, #detail-table th,
.css-table .td, .css-table .th{
	padding: 5px;
}

.demo-table td,
#demo-table1 td,
#detail-table td,
.css-table .td{
	color: #666666;
	border: #ddd 1px solid;
}

.demo-table th,
#detail-table th,
#demo-table1 th,
.css-table .th{
	background-color: #590202;
	color:#ffffff;
	border: #1a1a1a 1px solid;
	text-align: center;
}


.css-table{
	display: table;
	display: none;
}
.css-table .thead{
	display:table-header-group;
}
.css-table .tbody{
	display:table-row-group;
}
.css-table .tr{
	display:table-row;
}
.css-table .th,
.css-table .td{
	display:table-cell;
}
	.activity-table, 
	.activity-tablee thead, 
	.activity-table tbody, 
	.activity-table th, 
	.activity-table td, 
	.activity-table tr { 
		display: block; 
	}

.activity-table td { 
		/* Behave  like a "row" */
		border: none !important;
		border-bottom: 1px solid #eee !important;  
		position: relative;
		padding-left: 35%!important; 
		/*是否折行*/
		white-space: normal;
		text-align:left;
	}
.activity-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 35%; 
		padding-right: 10px; 
		/*是否折行*/
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
		color: #1a1a1a;
	}

.activity-table td:before{ 
	content: attr(data-title); 
}
.table-signup {
		margin-top: 15px;
	}
#searchBtn,#clearBtn{
	margin-top: 10px
}
.activitys-outTable,
.table-signup,
{ 
	border: solid white; 
	border-radius:10px;
}

@media only screen and (max-width: 960px) {
	.hide-column .large{
		display: none;
	}
	
}
@media only screen and (min-width: 720px) {
.table-signup td  {
		text-align:center;
	}
	
.form-replace{
	margin-bottom: 30px;
}
.form-control{
	margin-right: 30px;
	
}
}

@media only screen and (max-width: 720px) {
#demo-table1{
	width: 99.9%;
	background-color: #ffffff;
	border-collapse: collapse;
	margin-bottom: 20px;
}
	/*第四個 破壞 table的樣式*/
	/* Force table to not be like tables anymore */
	.break-table{
		background-color: transparent !important;  
	}
	.break-table, 
	.break-table thead, 
	.break-table tbody, 
	.break-table th, 
	.break-table td, 
	.break-table tr { 
		display: block; 
	}

	
	/* Hide table headers (but not display: none;, for accessibility) */
	.break-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
    /*用來區別每一筆資料讓他變成table樣子 更變外框顏色*/
	.break-table tr { border: solid #ccc; margin-bottom: 20px; background-color: #fff; border-radius:10px;}
	

	
	.break-table td { 
		/* Behave  like a "row" */
		border: none !important;
		border-bottom: 1px solid #eee !important;  
		position: relative;
		padding-left: 40%!important; 
		/*是否折行*/
		white-space: normal;
		text-align:left;
	}
	/*設定標題文字樣式*/
	.break-table td:before { 
		
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 35%; 
		padding-right: 10px; 
		/*是否折行*/
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
		color: #1a1a1a;
	}
	/*把data-title設定標頭*/
	.break-table td:before { content: attr(data-title); }
	
	#formback{
		border: #f5f5f5 1px solid;
		border-radius:10px;
		background-color: #f5f5f5;
		margin-bottom: 20px;
	}
	#inputform{
		margin:10px;
	}
	
	
}



