@CHARSET "UTF-8";
@media only screen and (min-width: 720px) {
	.welcomeMsg {
	width: 175px;
	height: 60px;
	box-shadow: 1 5 5 gray;
	position: fixed;
    right: 20px;
    bottom: 50px;    
    padding: 10px 15px; 
	background-image: url(../images/background/welcome.gif);
	background-repeat: no-repeat;
}
	
}

.release {
	
}

.current {
	color: darkblue;
}

.current .important {
	color: red;
}

.current .emphasize {
	color: blue;
	font-weight: bold;
}

.old {
	color: gray
}

.title {
	font-size: 14px;
	font-weight: bold;
}

.item {
	line-height: 2em;
}

ul {
	margin-top: 0px;
}