@CHARSET "UTF-8";

.indivTab {
	background: url(images/personal_16x16-2.png) no-repeat;
}

.deptTab {
	background: url(images/group_16x16-2.png) no-repeat;
}

#frmPLCRRCZ  td:nth-child(1),#frmPLCRRCZ td:nth-child(3) {
	text-align: right;
	width: 100px;
	color: red;
}

#frmPLCRRCZ  td {
	white-space: nowrap;
}