@CHARSET "UTF-8";

#subMenuContent .combo input.combo-text- {
	font-size: 13px;
	vertical-align: middle;
}

.warning {
	color: red;
}

.highlight {
	color: red;
	font-weight: bold;
}

.normal {
	
}

.attachment {
	display: inline-block;
	height: 16px;
	width: 16px;
}
